*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f4f4f4;
}

header{
background:#ff5200;
color:white;
padding:20px;
text-align:center;
}

.container{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
padding:30px;
}

.card{
background:white;
width:280px;
border-radius:15px;
overflow:hidden;
box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.card img{
width:100%;
height:180px;
object-fit:cover;
}

.card h3,
.card p{
padding:10px;
text-align:center;
}

.card button{
display:block;
margin:10px auto 20px;
padding:10px 20px;
background:#ff5200;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

.cart-box{
background:white;
width:90%;
max-width:500px;
margin:20px auto;
padding:20px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.checkout{
background:green;
color:white;
padding:10px 20px;
border:none;
border-radius:5px;
cursor:pointer;
}
